* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #b2fb9a;
    color: #222;
}


header {
    background: linear-gradient(
        120deg,
        #56cd83,
        #ffed77,
        #358bd0,
        #c55d5d
    );
    color: #000000;
    text-align: center;
    padding: 30px;
}


header h1 {
    font-size: 32px;
    margin-bottom: 10px;
}


main {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}


.map-container {
    background: #f6ff93;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}


.map-container h2 {
    margin-bottom: 20px;
}

#map {
    height: 600px;
    width: 100%;
    border-radius: 10px;
    z-index: 1;
    background-color: #8ebdff;
}


.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.info h2 {
    margin-bottom: 5px;
}


.card {
    background: #f6ff93;
    padding: 20px;
    border-radius: 15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.08);
}


.card h3 {
    margin-bottom: 10px;
}


.colors {
    display: flex;
    gap: 10px;
}


.color{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #252020;
}


.color1 {
    background-color: #009c3b;
}


.color2 {
    background-color: #ffdf00;
}


.color3 {
    background-color:#00569c;  
}


.color4 {
    background-color: #B70000;
}


footer {
    text-align: center;
    padding: 25px;
    background-color: #c55d5d;
    color: white;
}


@media (max-width: 800px) {
    main {
        grid-template-columns: 1fr;
    }
}
